<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DICE/1.0"
            class="es.unizar.disco.dice.DICE.DICEPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DPIM/1.0"
            class="es.unizar.disco.dice.DPIM.DPIMPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DTSM/Core/1.0"
            class="es.unizar.disco.dice.DTSM.Core.CorePackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DTSM/Storm/1.0"
            class="es.unizar.disco.dice.DTSM.Storm.StormPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DTSM/Hadoop/1.0"
            class="es.unizar.disco.dice.DTSM.Hadoop.HadoopPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DTSM/Spark/1.0"
            class="es.unizar.disco.dice.DTSM.Spark.SparkPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DTSM/Cassandra/1.0"
            class="es.unizar.disco.dice.DTSM.Cassandra.CassandraPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/profiles/DDSM/1.0"
            class="es.unizar.disco.dice.DDSM.DDSMPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/libraries/Complex_Data_Types/1.0"
            class="es.unizar.disco.dice.Complex_Data_Types.Complex_Data_TypesPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DICE -->
      <package
            uri="http://es.unizar.disco.dice/libraries/Basic_Enumeration_Types/1.0"
            class="es.unizar.disco.dice.Basic_Enumeration_Types.Basic_Enumeration_TypesPackage"
            genModel="resources/DICE.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://DICE_PROFILES/"
            target="platform:/plugin/es.unizar.disco.dice.static.profile/resources/">
      </mapping>
      <mapping
            source="pathmap://DICE_LIBRARIES/"
            target="platform:/plugin/es.unizar.disco.dice.static.profile/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="DICE Profile Library v1.0"
            iconpath="icons/dice16.gif"
            name="DICE Library"
            path="pathmap://DICE_LIBRARIES/DICE_Library.uml">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="DICE Profile v1.0"
            iconpath="icons/dice16.gif"
            name="DICE"
            path="pathmap://DICE_PROFILES/DICE.profile.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://DICE_PROFILES/DICE.profile.uml#_gFr1YOebEeWj7ZPL8JeBTQ"
            uri="http://es.unizar.disco.dice/profiles/DPIM/1.0">
      </profile>
      <profile
            location="pathmap://DICE_PROFILES/DICE.profile.uml#_MPXosOePEeWj7ZPL8JeBTQ"
            uri="http://es.unizar.disco.dice/profiles/DICE/1.0">
      </profile>
      <profile
            location="pathmap://DICE_LIBRARIES/DICE_Library.uml#_GunKUOeZEeWj7ZPL8JeBTQ"
            uri="http://es.unizar.disco.dice/libraries/Complex_Data_Types/1.0">
      </profile>
      <profile
            location="pathmap://DICE_LIBRARIES/DICE_Library.uml#_diCmMOeWEeWj7ZPL8JeBTQ"
            uri="http://es.unizar.disco.dice/libraries/Basic_Enumeration_Types/1.0">
      </profile>
      <profile
            location="pathmap://DICE_LIBRARIES/DICE_Library.uml#_yQjxwOeYEeWj7ZPL8JeBTQ"
            uri="http://es.unizar.disco.dice/libraries/Basic_Data_Types/1.0">
      </profile>
      <profile
            location="pathmap://DICE_PROFILES/DICE.profile.uml#_E-ctACpwEeaibdPncpUwfA"
            uri="http://es.unizar.disco.dice/profiles/DTSM/Storm/1.0">
      </profile>
      <profile
            location="pathmap://DICE_PROFILES/DICE.profile.uml#_lhjuYC5LEeaF_sH3mLTVKg"
            uri="http://es.unizar.disco.dice/profiles/DTSM/Hadoop/1.0">
      </profile>
      <profile
            location="pathmap://DICE_PROFILES/DICE.profile.uml#_uVw8sPjzEeaT8NXWw3z-XA"
            uri="http://es.unizar.disco.dice/profiles/DTSM/Spark/1.0">
      </profile>
      <profile
            location="pathmap://DICE_PROFILES/DICE.profile.uml#_aYmS0Dx2EeaOH59TuV453g"
            uri="http://es.unizar.disco.dice/profiles/DDSM/1.0">
      </profile>
      <profile
            location="pathmap://DICE_PROFILES/DICE.profile.uml#_CxT4QGYrEeeWJ7BBNSdFOw"
            uri="http://es.unizar.disco.dice/profiles/DTSM/Cassandra/1.0">
      </profile>
   </extension>


</plugin>
